@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Subrayada", sans-serif;
}

body {
  background-color: #030303;
}

.container {
  margin: 0 auto;
  width: 1300px;
}

#banner {
  background-image: url("./img/maxresdefault.jpg");
  width: 1280px;
  height: 720px;
  background-size: cover;
}

h1 {
  position: relative;
  color: #fff;
  padding: 50px;
  font-size: 45px;
  text-shadow: 0.05em 0.05em #333;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #fff;
  text-shadow: 0.05em 0.05em #333;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: -20px;
}

.button {
  width: 1280px;
  margin: 40px auto;
  position: absolute;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: chocolate;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #9e4f16;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}
